/* style.css */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  canvas {
    display: block;
  }
  

  .sidenav {
    height: 100%;
    width: 150px; /* Set a width to your side navigation */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    
    background: none;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

.model-heading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    color: white;
    text-align: center;
  }
  

  #scene {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 3em;
  }
  
  #about {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
  }